/*ヘッダー*/
header{
  color: #fff;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.container{
  height: 60px;
  display: flex;
  align-items: center;
}
/*ロゴ*/
.area_logo_header .logo{
  display: block;
}
.area_logo_header .logo img{
  height: 70px;
  vertical-align: bottom;
}
/*ナビゲーション*/
.area_nav_header{
  margin-left: auto;
}
/*リストの黒点、URLの下線削除*/
ul{
  list-style: none;
}
.list_nav_header a{
  text-decoration: none;
}
/*リストナビ*/
.list_nav_header{
  display: flex;
  align-items: center;
}
.list_nav_header > li + li{
  margin-left: 40px
}
.list_nav_header a{
  color: #fff;
  font: 500 15px/1em 'noto sans japanese',sans-serif;
}
.list_nav_header .btn_contact{ /*お問い合わせ ボタン*/
  color: fff;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 24px 0 48px;
  background: #69c;
  border-radius: 2px;
  position: relative;
}
.list_nav_header .btn_contact:before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(TwitterLogo.svg) no-repeat center center ;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0,-50%);
}
/*余白*/
body{
  padding: 60px 60px 0px 60px;
  margin: 0px;
}
