body{
  background: #222;
  padding: 50px 0px 50px 0px;
  m@ax-width: 1080px;
  m@argin: auto;
}
img{
  vertical-align: top;/*アイコン下の余白を消す*/
}
/*メインの余白*/
.main{
  padding: 0px 20px 0px 20px;
  max-width: 1040px;
  margin: auto;
}
/*画面左上側の要素*/
.vivid_hero_opinion{
  position: fixed;
  background: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 520px;/*max-width ÷ 2*/
  height: calc(15% - 7.5px);
  top: 50px;/*上寄せの必要はない*/
}
/*画面左下側の要素*/
.vivid_hero_image{
  position: fixed;
  background: #0aa;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 520px;/*max-width ÷ 2*/
  height: calc(85% - 42.5px);
  bottom: 0px;/*下寄せ*/
}
.hero_image{
  width: 312px;
  height: 100%;
  background: #ddd;/*おそらく白*/
  /*position: relative;
  padding: 0px 5px 0px 5px;*/
  }
.image{
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 302px;*/
  p@adding-left: 5px;
  p@adding-right: 5px;
  padding-top: calc((((100vh - 50px) / 100 * 85) - 472.328px) / 2);
}
.image img{
  width: 100%;
}
.hero_text{

}
/*画面右側の要素*/
.vivid_hero_icon{
  background: #bbb;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  width: 500px;
  height: 100%;
  padding: 2% 10px 2% 10px;
}
/*グリッドの作成*/
.vivid_hero_icon{
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
@media(max-width:80px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(10,1fr)
  }
}
/*英雄のアイコン*/
.hero_icon{
  margin: 5px 5px 5px 5px;
  background-color: #555;
}
.hero_icon img{
  border-radius: 9.5px;
  width: 100%;
}
.hero_icon p{
  text-align: center;
  padding: 3px 0px;
  font-size: 12px;
  margin: 0px;
  color: #fff;
}
.hero_icon a{
  text-decoration: none;
}
