body{
  background: #222;
  padding: 50px 0px 50px 0px;
  m@ax-width: 1080px;
  m@argin: auto;
}
img{
  vertical-align: top;/*アイコン下の余白を消す*/
}
/*スクロールバー*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
  b@ackground: #bbb;
  background: linear-gradient(grey,black,grey);
}
::-webkit-scrollbar-thumb {
  b@ackground: #888;
  background: linear-gradient(pink,skyblue);
  border-radius: 5px;
}
/*メイン*/
.main{
  padding: 0px 20px 0px 20px;
  max-width: 1140px;/*1180-20-20*//*-------------------*/
  margin: auto;
}
/*画面上側の要素*/
.vivid_hero_opinion{
  position: fixed;
  background: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 627px;
  h@eight: calc(15% - 7.5px);
  height: 100px;
  top: 50px;/*上寄せの必要はない*/
}
/*左下側の要素*/
.vivid_hero_image{
  position: fixed;
  b@ackground: #0aa;
  width: 627px;
  height: calc(100% - 150px);
  bottom: 0px;/*下寄せ*/
}
.hero_image{
  width: 313.5px;
  height: 100%;
  background: #888;/*灰色*/
  float: left;
  /*position: relative;
  padding: 0px 5px 0px 5px;*/
  }
.image{
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 302px;*/
  p@adding-left: 5px;
  p@adding-right: 5px;
  padding-top: calc(((100vh - 150px) - 474.594px) / 2);
  padding-bottom: calc(((100vh - 150px) - 474.594px) / 2);
}
.image img{
  width: 100%;
}
/*右下の要素*/
.hero_text{
  background: #9c6;
  width: 313.5px;
  height: 100%;
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*画面右側の要素*/
.vivid_hero_icon{
  background: #ccc;
  f@lex-direction: row;
  f@lex-wrap: wrap;
  float: right;
  w@idth: 500px;
  width: calc(100% - 647px);
  height: 100%;
  padding: 2% 10px 2% 10px;
}
/*グリッドの作成*/
.vivid_hero_icon{
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
@media(max-width:1180px){/*～を下回った時*/
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(5,1fr)
  }
}
@media(max-width:1080px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(4,1fr)
  }
}
/*英雄のアイコン*/
.hero_icon{
  box-shadow: 0 0 4px gray;/*影*/
  border-radius: 9.5px;
  margin: 5px 5px 5px 5px;
  background-color: #50586C;
}
.hero_icon img{
  border-radius: 9.5px;
  width: 100%;
}
.hero_icon p{
  text-align: center;
  padding: 3px 0px;
  font-size: 12px;
  margin: 0px;
  color: #fff;
}
.hero_icon a{
  text-decoration: none;
}
