body{
  background: #222;
  padding: 50px 0px 50px 0px;
  m@ax-width: 1080px;
  m@argin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
img{
  vertical-align: top;/*アイコン下の余白を消す*/
}
/*スクロールバー*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
  background: #5d7683;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #81a4dd;
  border-radius: 4px;
}
/*メイン*/
.main{
  padding: 0px 20px 0px 20px;
  max-width: 1140px;/*1180-20-20*//*-------------------*/
  margin: auto;
}
/*画面上側の要素*/
.vivid_hero_opinion{
  position: fixed;
  background: #b0bec5;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 570px;
  h@eight: calc(15% - 7.5px);
  height: 100px;
  top: 50px;/*上寄せの必要はない*/
}
/*左下側の要素*/
.vivid_hero_image{
  position: fixed;
  background: #ccc;
  width: 570px;
  height: calc(100% - 150px);
  bottom: 0px;/*下寄せ*/
}
.hero_image_image{
  backdrop-filter: blur(4px);/*背景画像をぼかす*/
  background-color: rgba(255, 255, 255, 0.4);/*背景画像を少し明るくする*/
  padding-top: calc(((100vh - 150px) - 431.453px) / 2);
  padding-bottom: calc(((100vh - 150px) - 431.453px) / 2);
}
.hero_image_image img{
  width: 100%;
}
/*画像の背景*/
.hero_image_la{
  width: 285px;
  height: 100%;
  float: left;/*↓背景の画像(陸)*/
  background-image: url(hero_images/背景_陸.jpg);
  background-size: cover;
  background-position: center;
}
.hero_image_se{
  width: 285px;
  height: 100%;
  float: left;/*↓背景の画像(海)*/
  background-image: url(hero_images/背景_海.jpg);
  background-size: cover;
  background-position: center;
}
.hero_image_se2{
  width: 285px;
  height: 100%;
  float: left;/*↓背景の画像(海2)*/
  background-image: url(hero_images/背景_海2.jpg);
  background-size: cover;
  background-position: center;
}
.hero_image_sk{
  width: 285px;
  height: 100%;
  float: left;/*↓背景の画像(空)*/
  background-image: url(hero_images/背景_空.jpg);
  background-size: cover;
  background-position: center;
}
.hero_image_sk2{
  width: 285px;
  height: 100%;
  float: left;/*↓背景の画像(空2)*/
  background-image: url(hero_images/背景_空2.jpg);
  background-size: cover;
  background-position: center;
}

/*右下の要素*//*英雄の説明、ここ大事*/
.hero_profile{
  overflow: hidden;
  background: #eee;
  width: 285px;
  height: 100%;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 0px 0px 0px;
}
.hero_profile_padding{
  margin: 0px 10px 0px 10px;
}
.qqq{
  background: #9bd8c4;
  width: calc(100% - 10px);
  height: 36px;
  margin: 5px;
  border-radius: 9.5px;
  box-shadow: 0 0 4px gray;/*影*/
}
.qqq img{
  height: 28px;
  padding: 4px 4px 4px 4px;
}
.hero_profile p{
  padding: 4px 0px 4px 0px;
  m@argin: 4px 0px 4px 0px;
  margin: 0px;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  f@ont-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
.hero_profile_name p{
  font-size: 20px;
  font-weight: 600;
}
.hero_profile_skill{
}
.hero_profile_skill_detail{
  background: #b2bfcd;
  border-radius: 9.5px;
  box-shadow: 0 0 4px gray;/*影*/
  padding: 0px 5px 0px 5px;
  margin: 4px 0px 8px 0px;
}
.hero_profile_skill_detail ul{
  list-style: decimal;/*リストに使う点*/
  padding-left: 26px;
  margin: 0px;
}
.border_gray{
  border-bottom: 2px solid;/*ボーダー*/
  border-color: #aaa;/*ボーダーの色(グレー)*/
  margin: 4px 0px 4px 0px;
}
.border_darkgray{
  border-bottom: 2px solid;/*ボーダー*/
  border-color: #6c7284;/*ボーダーの色(ダークグレー)*/
  margin: 4px 0px 4px 0px;
}
/*画面右側の要素*/
.vivid_hero_icon{
  background: #ddd;
  f@lex-direction: row;
  f@lex-wrap: wrap;
  float: right;
  w@idth: 500px;
  width: calc(100% - 570px - 20px);
  height: 100%;
  padding: 16px 10px 16px 10px;
}
/*グリッドの作成*/
.vivid_hero_icon{
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
@media(max-width:1040px){/*～を下回った時*/
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(4,1fr)
  }
}
@media(max-width:940px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }
}
/*英雄のアイコン*/
.hero_icon{
  box-shadow: 0 0 4px gray;/*影*/
  border-radius: 9.5px;
  margin: 8px 6px 8px 6px;
  background-color: #50586C;
}
.hero_icon img{
  border-radius: 9.5px;
  width: 100%;
}
.hero_icon p{
  text-align: center;
  padding: 3px 0px;
  font-size: 12px;
  margin: 0px;
  color: #fff;
}
