body{
  background: #222;
  padding: 50px 0px 50px 0px;
  m@ax-width: 1080px;
  m@argin: auto;
}
img{
  vertical-align: top;/*アイコン下の余白を消す*/
}
/*メインの余白*/
.main{
  padding: 0px 20px 0px 20px;
  max-width: 1040px;
  margin: auto;
}
/*画面左上側の要素*/
.vivid_hero_opinion{
  position: fixed;
  background: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 520px;/*max-width ÷ 2*/
  height: 20%;
  t@op: 0px;/*上寄せの必要はない*/
}
/*画面左下側の要素*/
.vivid_hero_image{
  position: fixed;
  background: #0aa;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  w@idth: calc(55% - 50px); /*50%ー余白のピクセル数*/
  width: 520px;/*max-width ÷ 2*/
  height: 80%;
  bottom: 0px;/*下寄せ*/
}
.hero_image{
  w@idth: calc(60% - 10px);
  width: 302px;
  height: 100%;
  background: #c66;/*赤*/
  padding: 0px 5px 0px 5px;
  position: relative;
  }
.image{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  p@adding-top: calc((85vh - 474.625px) / 2);/*100%は314ピクセル*/
  p@adding-bottom: 85vh;
  width: 302px;
}
.image img{
  width: 100%;
  w@idth: 300px;/*元サイズは864 × 1306*/
  m@ax-width: 100%;
}
.hero_text{

}
/*画面右側の要素*/
.vivid_hero_icon{
  background: #bbb;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  width: 500px;
  height: 100%;
  padding: 2% 10px 0% 10px;
}
/*グリッドの作成*/
.vivid_hero_icon{
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
@media(max-width:550px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(4,1fr)
  }
}
/*英雄のアイコン*/
.hero_icon{
  margin: 5px 5px 5px 5px;
  background-color: #555;
}
.hero_icon img{
  display: block;
  width: 100%;
}
.hero_icon p{
  text-align: center;
  padding: 3px 0px;
  font-size: 12px;
  margin: 0px;
  color: #fff;
}
.hero_icon a{
  text-decoration: none;
}
