body{
  background: #222;
  padding: 50px 0px 50px 0px;
  m@ax-width: 1200px;
  m@argin: auto;
}
/*メインの余白*/
.main{
  margin: 0px 50px 0px 50px
}
/*画面左側の要素*/
.vivid_hero_image{
  position: fixed;
  background: #0aa;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: calc(55% - 50px); /*50%ー余白のピクセル数*/
  w@idth: 50%;
  height: 100%;
}
.hero_image img{
  max-width: 100%;
  width: 50%;
}
/*画面右側の要素*/
.vivid_hero_icon{
  background: #bbb;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  width: 41%;
  height: 100%;
  padding: 2% 2% 0% 2%;
}
/*グリッドの作成*/
.vivid_hero_icon{
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
@media(max-width:1100px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(4,1fr)
  }
}
@media(max-width:900px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }
}@media(max-width:700px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
}@media(max-width:500px){
  .vivid_hero_icon{
    display: grid;
    grid-template-columns: repeat(1,1fr)
  }
}
/*英雄のアイコン*/
.hero_icon{
  margin: 0px 5px 5px 5px;
  background-color: #555;
}
.hero_icon img{
  display: block;
  width: 100%;
  height: auto;
  vertical-align: top;/*アイコン下の余白を消す*/
    width: 100%;
}
.hero_icon p{
  text-align: center;
  padding: 3px 0px;
  font-size: 12px;
  margin: 0px;
  color: #fff;
}
.hero_icon a{
  text-decoration: none;
}
